body{
    font-family: sans-serif;
       width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
p{
    color: antiquewhite;
}
div
{border: 1px solid black;}
.v1{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.v2{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v3{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v4{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v5{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v6{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v7{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.v8{
        background-color: none;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

}